:root {
  --blue: #1160aa;
}

.container {
  background-color: #ffffff;
  margin: 1rem;
  border-radius: 0.5rem;
  /* width: auto; */
  padding: 2.5rem;
  width: 70vh;
  box-shadow: 4px 5px 5px rgb(215, 242, 253, 0.6);
}
.img {
  background-image: url("to.png");
  background-size: cover;
  width: 230px;
  height: 180px;
}

li {
  color: var(--blue);
}

ol {
  margin: 0;
}

.list .btn-outline-primary {
  font-size: 1.2rem;
  color: var(--blue);
  border: none;
}

.btn:hover {
  color: #ffffff;
  background-color: var(--blue);
}

h1 {
  margin: 0;
}

.head p {
  font-size: 0.95rem;
  font-weight: normal;
  margin-left: 0.5rem;
  color: #0077b6;
  font-family: cursive ;
}
